<template>
    <lightning-card title="Assigned Visits" icon-name="standard:user_role">
        <lightning-layout class="slds-p-around_small slds-card slds-scrollable_y">
            <lightning-layout-item size="12">
                test:{eventList}
                <ul class="slds-m-around_small">
                    <template for:each={eventList} for:item="eachEvent">
                        <li key={eachEvent.Id} class="slds-border_bottom">
                            <c-visit-details each-event={eachEvent}></c-visit-details>
                        </li>
                    </template>
                </ul>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>