<template>
    <lightning-card title="Unassigned Cases" icon-name="standard:work_contract">
        <lightning-layout class="slds-p-around_small slds-card slds-scrollable_y">
            <lightning-layout-item size="12">
                <ul class="slds-m-around_small">
                    <template for:each={caseList} for:item="eachCase">
                        <li key={eachCase.Id} class="slds-border_top">
                            <c-case-card each-case={eachCase} onassignment={assignmentClick}></c-case-card>
                        </li>
                    </template>
                </ul>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>