<template>
    <lightning-card title="Planned Visits for Service Persons" icon-name="standard:visits">
        <div class="slds-grid_vertical-align-center">
        <template if:true={visitList}>
            <!--Data table-->
            <div class="tableClass slds-p-around_small">
                <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-label="Example default base table of Opportunities">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th scope="col" style="width:3.25rem">
                                <div class="slds-truncate" title="Visit Name">Related To</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Start Date">Start Date</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Assignee">Assignee</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Status">Status</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={visitList} for:item="visit">
                            <tr class="slds-hint-parent" key={visit.Id}>
                                <td data-label="Visit Name">
                                    <div class="slds-truncate" title={visit.Subject}>
                                        <a >{visit.What.Name}</a>
                                    </div>
                                </td>
                                <td data-label="Start Date">
                                    <div class="slds-truncate" title={visit.ActivityDate}>{visit.ActivityDate}</div>
                                </td>
                                <td data-label="Assignee">
                                    <div class="slds-truncate" title={visit.Owner.Name}>{visit.Owner.Name}</div>
                                </td>
                                <td data-label="State">
                                    <div class="slds-truncate" title={visit.State__c}>{visit.State__c}</div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </template>
        <template if:true={error}>
            {error}
        </template>
    </div>
    </lightning-card>
</template>