<template>
    <lightning-card>
        <lightning-accordion allow-multiple-sections-open="true">
            <lightning-accordion-section label={eventDetails} name="openEvent">
                <div slot="actions">
                    <lightning-button class="slds-p-around_x-small" variant="success" label="Accept" onclick={openAcceptModal}></lightning-button>
                    <lightning-button class="slds-p-around_x-small" variant="destructive" label="Reject" onclick={openRejectModal}></lightning-button>
                </div>
                <lightning-record-view-form density="comfy" record-id={eachEvent.WhatId} object-api-name="Case">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_4-of-12">
                            <div class="slds-form-element slds-form-element_stacked slds-border_bottom slds-p-left_xx-small">
                                <span class="slds-form-element__label">Case Number</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">
                                        <a onclick={navigateToCaseDetailPage}>{eachEvent.What.Name}</a>
                                    </span>
                                </div>
                            </div>
                            <lightning-output-field field-name="Subject" field-class="slds-border_bottom"></lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_4-of-12">
                            <lightning-output-field field-name="AccountId" field-class="slds-border_bottom"></lightning-output-field>
                            <lightning-output-field field-name="Priority" field-class="slds-border_bottom "></lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_4-of-12">
                            <lightning-output-field field-name="Status" field-class="slds-border_bottom"></lightning-output-field>
                            <lightning-output-field field-name="Type" field-class="slds-border_bottom"></lightning-output-field>
                        </div>
                    </div>
                </lightning-record-view-form>
            </lightning-accordion-section>
        </lightning-accordion>
    </lightning-card>

    <!--Accept/Reject modal-->
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Accept/Reject the visit.</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={isModalAccept}>
                        <div class="slds-text-align_center slds-text-heading_medium slds-text-color_success">You are going to accept the visit.</div>
                    </template>
                    <template if:true={isModalReject}>
                        <div class="slds-text-align_center slds-text-heading_medium slds-text-color_error">Are you sure you want to reject the visit?</div>
                    </template>
                    <template if:true={error}>
                        {error}
                    </template>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>